<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <form action="/insert" method="post">
        Name <input type="text" name="txtName">
        <span style="color:red">{{errorMsg}}</span> 
        <br>
        Quantity <input type="text" name="txtQuantity">
        <br>
        Price <input type="text" name="txtPrice">
        <br>
        Picture <input type="text" name="txtPicture"/>
        <br>
        <input type="submit" value="Insert Product">
    </form>
        
  
    
    <ul>
        {{#each data}}
           <li>{{name}} - {{quantity}} - {{price}}
               <img src="{{picture}}" width="150" height="100"/>
               <a href="/delete?id={{_id}}">Delete</a>
               <a href="/edit?id={{_id}}">Edit</a>
            </li> 
        {{/each}} 
    </ul>
</body>
</html>